/* Global Reset */
html, body { height: 100%; }
body {
	margin: 0;
	padding: 0;
	background: #0b1020;
}

/* box-sizeing reset prevent scrollbars form extra pixels */
*, *::before, *::after { box-sizing: border-box; }